<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kedarnath trekk</title>
 
    <link rel="stylesheet" href="css/kedarnath.css">
</head>

<body>
   {{>navbar}}
    <div class="main">
        <div class="container-kedarnath">
            <div class="image-i">
                <img src="images/kedarnath.jpg" alt="img1">
            </div>
            <h4 style="text-align: center;">Kedarnath Trekk</h4>
            <div class="package">
                <ul>
                    <li>
                        <img src="images/checked.png" alt="checked">
                        Travelling
                    </li>
                    <li>
                        <img src="images/checked.png" alt="checked">
                        2 Breakfast
                    </li>
                    <li>
                        <img src="images/checked.png" alt="checked">
                        1 Dinner
                    </li>
                </ul>
            </div>
            <div class="detail">

                <p>Ex-Pune/Aurangabad</p>
                <p style="color:red;">&#8377;5999 /-Pp</p>
                <p>Contact- 9579973834</p>
            </div>
            <div class="book-btn">
                <a href="/book">Book Trip</a>
            </div>
        </div>
        <div class="trek-info">
            <div class="overview">
                <h1 style="text-align: center;">Overview</h1>
                <p>
                    <span style="font-size: 18px;">
                        <strong>All about the Kareri Lake Trek.</strong>
                    </span>
                </p>
                <p>
                    The Kedarnath Dham Yatra is a sacred pilgrimage in the Indian state of Uttarakhand, revered by
                    millions of Hindu devotees. It entails a spiritual journey to the revered Kedarnath temple, nestled
                    amidst the majestic Himalayas. Pilgrims embark on a trek through breathtaking landscapes, braving
                    rugged terrain and crossing pristine rivers, to reach the shrine dedicated to Lord Shiva. The yatra
                    offers a profound experience of devotion, tranquility, and spiritual renewal, making it a cherished
                    pilgrimage for seekers of divine blessings and inner peace.
                </p>
                <p>
                    <span style="font-size: 18px;">
                        <strong>Meals You will get on Kareri Lake Trek</strong>
                    </span>
                </p>
                <ul>
                    <li>3 Breakfast</li>
                    <li>3 Dinner</li>
                </ul>
                <p>
                    <span style="font-size: 18px;">
                        <strong>Itinerary:</strong>
                    </span>
                </p>
                <ul>
                    <li>
                        <span style="color:#c0392b;"></span>
                        <strong>Day 0:</strong>
                        Delhi to sonprayag
                    </li>
                    <li>
                        <span style="color:#c0392b;"></span>
                        <strong>Day 1:</strong>
                        sonprayag
                    </li>
                    <li>
                        <span style="color:#c0392b;"></span>
                        <strong>Day 2:</strong>
                        Guptkashi | Kedarnath Dham
                    </li>
                </ul>
            </div>
            
        </div>
    </div>

      

{{>footer}}
</body>

</html>