<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summer Trek</title>
    <link rel="stylesheet" href="css/summer.css">
</head>
<body>
    {{>navbar}}
     <div class="home-img">
        <img src="images/summer1.png" alt="summer">
     </div>
        <div class="upcom-trek">
          <h3>Summer Trek</h3>
     </div>
      <div class="card-main">
      <div class="card">
        <img src="images/kedarnathTemple.jpg" alt="Placeholder Image">
        <div class="b_seller">Trending</div>
       <div class="trek-details">
            <h4>Kedarnath Trek</h4>
            <h4 style="color:red;">&#8377;7900</h4>
            <h5>May 21-26</h5>
        </div>
     <button>
        <a href="/kedarnath">
            Explore
     </a>
     </button>
    </div>
     <div class="card">
        <img src="images/kedarnathTemple.jpg" alt="Placeholder Image">
        <div class="b_seller">Trending</div>
       <div class="trek-details">
            <h4>Kedarnath Trek</h4>
            <h4 style="color:red;">&#8377;7900</h4>
            <h5>May 21-26</h5>
        </div>
     <button>
        <a href="/kedarnath">
            Explore
     </a>
     </button>
    </div>
    </div>
</body>
</html>