body {
   
    background-color: #f4f4f4;
}

.main{
    width:100vw;
    height:100vh;
    display:flex;
}

.trek-info{
    width:800px;
    height:100%;
}
.container-kedarnath {
    width: 400px;
    height:550px;
    margin: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* padding: 5px; */
}

.image-i img {
    width:100%;
    height:250px;
    border-radius: 5px;
}

.package {
    margin-top: 5px;
}

.package ul {
    list-style-type: none;
    padding: 0;
}

.package li {
    padding: 5px 0;
    font-size:large;
}

.package img {
    padding-left: 10px;
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.detail {
    padding-left:10px ;
    margin-top: 10px;
}

.detail p {
    font-size: 18px;
    margin: 5px 0;
    color: #333;
}

.book-btn {
    margin-bottom: auto;
    text-align: center;
}

.book-btn a {
    display: block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.book-btn a:hover {
    background-color: #0056b3;
}

.overview{
    width:700px;
    height:600px;
    margin-top: 20px;
    padding: 10px;
    border:0.8px black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
